body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-color: #0f172a;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #1e293b;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 500px;
}
/* Contact Section  */
.contact {
  background-color: #f8fafc;
  border-top: 1px solid #e5e7eb;
}

/* Clickable links */
.contact-link {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

/* Hover effect */
.contact-link:hover {
  text-decoration: underline;
  color: #1e40af;
}
